{{ if .Site.Params.one.enable }}
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <div class="spotlight">
                <div class="content">
                    <h4>The Wedding</h4>
                    <p><div>May 25th, 2019</div>
                    <div> Ceremony & Reception: 6PM</div>
                    <div>Skyline Lodge&mdash;Highland Forest</div></p>
                    <h5>After Party</h5>
                    <div style="font-size:12px;">The bar at the hotel is not open late. We plan to hang out at <a href="https://www.mcpubcaz.com/"  target="_blank">McCarthy’s Irish Pub</a> in Cazenovia after the wedding ends. This pub is a 15 minute walk or 3 minute drive from the Hampton Inn.</div>

                </div>
                <div class="image">
                    <iframe style="border:0" frameborder="0" height="350" width="100%"src="https://www.google.com/maps/embed/v1/place?q=skyline%20lodge%20highland%20forest&key=AIzaSyDjmXiNL8ODwxP_IvpkeaXdkfKL1ThHdkQ" allowfullscreen></iframe>
                </div>
            </div>
            </br>
            </br>
            <div class="spotlight">
                <div id="content-left" class="content">
                    <h4>Wedding Shuttle - To Wedding</h4>
                    </br>
                    <table>
                        <tr><td><!--4:50 Depart Hampton Inn-->To Be Announced</td><td><!--5:10 Arrive-->To Be Announced</td></tr>
                        <tr><td><!--5:40 Depart Hampton Inn-->To Be Announced</td><td><!--6:00 Arrive-->To Be Announced</td></tr>
                    </table>
                </div>
                <div id="content-right" class="image">
                    </br>
                    <h4>Wedding Shuttle - From Wedding</h4>
                    </br>
                    <table>
                        <tr><td>9:45 Depart Skyline Lodge</td><td>10:10 Arrive</td></tr>
                        <tr><td>10:35 Depart Skyline Lodge</td><td>10:55 Arrive</td></tr>
                    </table>
                </div>
            </div>
            </br>
            </br>
            <div class="spotlight">
                <div class="content">
                    <h4>The Hotel</h4>
                    <p><div>May 24-26 2019</div>
                    <div>Hampton Inn & Suites Cazenovia</div>
                    <div style="font-size:14px;"><i>Book before March 9th</i></div>
                    </p>
                    <p>
                </div>
                <div class="image">
                    <div><a class="button special" href="https://hamptoninn.hilton.com/en/hp/groups/personalized/S/SYRCZHX-FWW-20190524/index.jhtml?WT.mc_id=POG">Click here to book</a></iframe></div>
                </div>
            </div>
            </br>
            </br>
            <div class="spotlight">
                <div class="content-center">
                    <div><a class="button special" href="/things-to-do">Explore Cazenovia area</a></iframe></div>
                </div>
            </div>
        </header>
        <ul class="icons major">
            {{ range .Site.Params.one.icon }}
            <li><span class="icon {{ .icon }} major style{{ .style }}"><span class="label">{{ .label }}</span></span></li>
            {{ end }}
        </ul>
    </div>
</section>
{{ end }}
